<div uk-sortable="group: sortable-group{{#unless @first}}-previous{{/unless}}" data-sprint={{_id}} data-group="continue" {{#orIfHlp @first ended}}class="uk-sortable-nodrag"{{/orIfHlp}}>
	{{#each continue}}
		{{> ../card this}}
	{{/each}}
</div>