<div uk-sortable="group: sortable-group{{#unless @first}}-previous{{/unless}}" data-sprint={{_id}} data-group="start" {{#noSortableHlp @first ended user.admin}}class="uk-sortable-nodrag"{{/noSortableHlp}}>
	{{#each start}}
		{{> ../card}}
	{{/each}}
</div>