<div class="" uk-countdown="date: {{date}}">
	<span class="uk-countdown-number uk-countdown-minutes" style="font-size: 1.4rem;"></span>
	<span class="uk-countdown-separator" style="font-size: 1.4rem;">:</span>
	<span class="uk-countdown-number uk-countdown-seconds" style="font-size: 1.4rem;"></span>
</div>