<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-visible@m">
		<a class="uk-logo" href="#">Retrospective tool</a>
	</div>

	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li><a href="#" data-uk-icon="icon:user" title="{{user}}" data-uk-tooltip></a></li>
		</ul>
	</div>
</nav>